.notFound {
  text-align: center;
  margin-top: 50px;
}

.notFound__title {
  font-size: 72px;
  margin-bottom: 20px;
}

.notFound__text {
  font-size: 24px;
  margin-bottom: 20px;
}

.notFound__link {
  font-size: 18px;
  color: #007bff;
  text-decoration: none;
}

.notFound__link:hover {
  text-decoration: underline;
}
