.details {
  position: fixed;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  inset: 0px;

  background-color: rgba(0, 0, 0, 0.411);

  &__body {
    display: flex;
  }

  &__content {
    padding: 20px;
    width: 90%;
    height: fit-content;
    border-radius: 8px;

    background-color: var(--details-bg-color);
    color: var(--text-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  &__rating {
    position: static;
  }

  &__companies {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  &__company-logo {
    width: 100px;
    height: auto;
    object-fit: contain;
  }
}
