.content__right_active {
  width: 300px;
}

.details {
  position: fixed;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  min-width: 620px;
  inset: 0px;

  background-color: rgba(0, 0, 0, 0.411);

  &__content {
    padding: 20px;
    width: 300px;
    height: fit-content;
    border-radius: 8px;
    min-width: 150px;
    max-width: 250px;

    background-color: var(--details-bg-color);
    color: var(--text-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}
