@use 'sass:map';

:root.light {
  --text-color: #213547;
  --bg-color: #ffffff;
  --bg-button: #6e6e6e;
  --bsh-button-hover: #1a1a1a;
  --cl-button: #ffffff;
  --br-spinner: #cfcfcf;
  --scrollbar-color: #ccc;
  --input-bg-color: #fff;
  --input-border-color: #ccc;
}

:root.dark {
  --text-color: rgba(255, 255, 255, 0.87);
  --bg-color: #242424;
  --bg-button: #1a1a1a;
  --bsh-button-hover: #4400ff;
  --cl-button: var(--text-color);
  --br-spinner: #f3f3f3;
  --scrollbar-color: #555;
  --input-bg-color: #000000;
  --input-border-color: #666;
}

$light: (
  text-color: #213547,
  bg-color: #ffffff,
  bg-button: #6e6e6e,
  bsh-button-hover: #1a1a1a,
  br-spinner: #cfcfcf,
  cl-button: #ffffff,
  scrollbar-color: #ccc,
  input-bg-color: #fff,
  input-border-color: #ccc,
);

$dark: (
  text-color: rgba(255, 255, 255, 0.87),
  bg-color: #242424,
  bg-button: #1a1a1a,
  bsh-button-hover: #4400ff,
  br-spinner: #f3f3f3,
  scrollbar-color: #555,
  input-bg-color: #000000,
  input-border-color: #666,
);

@function theme($key, $theme: $light) {
  @return map.get($theme, $key);
}
