.card {
  position: relative;
  border: 0;
  overflow: hidden;
  cursor: default;

  &__body {
    position: relative;
  }
  &__checkbox {
    position: absolute;
    cursor: pointer;
    right: 0;

    margin: 0;
    background-color: rgba(0, 0, 0, 0.4);
    width: 33px;
    height: 30px;
    border: none;

    &:focus {
      box-shadow: none;
    }
    &:checked {
      box-shadow: 0 0 5px 2px rgba(13, 110, 253, 0.25);
    }
    &[type='checkbox'] {
      border-radius: 0 0 0 4px;
    }
  }
}

@media (hover: hover) {
  .card {
    &__checkbox {
      transition:
        background-color 0.3s,
        box-shadow 0.3s;
      &:hover {
        background-color: rgba(0, 0, 0, 0.6);
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.4);
      }
      &:checked {
        background-color: #0d6efd;
        box-shadow: 0 0 5px 2px rgba(13, 110, 253, 0.25);
      }
    }
  }
}
